@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*importar estilo de fonte*/
* {  /*seletor universal*/
    margin: 0; /*zerar a margem padrão do HTML*/
    padding: 0; /*zerar margem interna*/
    box-sizing: border-box; /*facilita para escrever as medidas*/
}

header {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.7) 31.25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 69.27%, #000000 100%);
    /*cor de fundo da página*/
    max-height: 200px;
}

.container-grid {
    max-width: 1833px; /*largura*/
    margin: 0 auto; /*alinhamento ao centro*/
}

.posicionamento {
    height: 100%;
    display:flex; /*flexibilização dos elementos*/
    /*alinhamento na horizontal*/
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.endereço a {
    color: white; /*cor do texto*/
    text-decoration: none; /*decoração do texto*/
    text-transform: uppercase; /*texto em maiúsculo*/
    font-family: 'Roboto', sans-serif; /*fonte*/
    font-size: 30px;
}

.barras { width: 40px;
    display:none;
}

.posicionamento2 {
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.categoria a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: black;
}

.linha {
    display: flex;
    justify-content: center;
}

.nov a {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgnov { padding: 15px;}

.itens a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: black;
    justify-content: center;
    flex-direction: row;
    max-height: 45px;
}

.itens2 a {justify-content: center;
    flex-direction: row;
}

.preço a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #FF0000;
    justify-content: center;
    flex-direction: row;
    max-height: 40px;
}

footer {
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.7) 31.25%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.7) 69.27%, #000000 100%);
    /*cor de fundo da página*/
}

.itensFooter { display: flex;
    justify-content: space-around;
}

.itensFooter2 a { display: flex;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
}

.opfooter {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 28px;
    color: #FFFFFF;
}

.itensFooter3 { text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    color: #FFFFFF;
}

@media screen and (max-width: 1710px){
    .container-grid { width: 85%;}
    .logo { width: 210px; height: 57px;}
    .logo2 { width: 118px; height: 110px; }
    .endereço a { font-size: 18px;}
    .redes { width: 60px;}
    .carrinho { width: 100px; height: 80px;}
    .categoria a { font-size: 25px;}
    .novid { width: 750px; height: 45px;}
    .cat1 { width: 102px;}
    .cat2 { width: 113px;}
    .cat3 { width: 92px;}
    .cat4 { width: 200px;}
    .itens a { font-size: 24px; }
    .imgnov { width: 344px; height: 213px;}
    .preço a { font-size: 18px;}
    .itensFooter2 a { font-size: 16px;}
    .opfooter { font-size: 18px;}    
    .itensFooter3 { font-size: 16px;}
    .redesFooter { width: 54px;}
}

@media screen and (max-width: 1250px){
    .container-grid { width: 85%;}
    .logo { width: 142px; height: 38px;}
    .logo2 { width: 79px; height: 74px; }
    .endereço a { font-size: 14px;}
    .redes { width: 40px;}
    .carrinho { width: 80px; height: 60px;}
    .categoria a { font-size: 20px;}
    .novid { width: 500px; height: 36px;}    
    .cat1 { width: 73px;}
    .cat2 { width: 80px;}
    .cat3 { width: 67px;}
    .cat4 { width: 133px;}
    .itens a { font-size: 16px; }
    .imgnov { width: 318px; height: 197px;}
    .preço a { font-size: 15px;}
    .itensFooter2 a { font-size: 13px;}
    .opfooter { font-size: 14px;}    
    .itensFooter3 { font-size: 13px;}
    .redesFooter { width: 46px;}
}

@media screen and (max-width: 1050px){
    .barras { display: inline-block;}
    .endereço a { display: none;}
    .menu { display: none;}
    /* flex-direction: column;
    width: unset; */
    .imgnov { width: 212px; height: 131px;}
}
/* 
.indmenu { font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FFFFFF;
    align-items:center;
}

.opmenu a{
    font-family: Roboto;
    font-size: 14px;
    color: #FFFFFF;
}

.menuBarras{
    background-image: url(../imagens/menuBarras.png);
    background-repeat: no-repeat;
    width: 198px;
    height: 394px;
} */